<div class="card">
	<div class="card-content">
		<div>
			<label for="new-note-title">Note title</label>
			<input id="new-note-title" type="text" ng-model="NoteEditCtrl.note.title" />
		</div>
		<div>
			<label for="new-note-content">Note content</label>
			<textarea id="new-note-content" class="materialize-textarea" ng-model="NoteEditCtrl.note.content"></textarea>
		</div>
		<div class="card-action">
			<a href="#" class="red-text" ng-show="NoteEditCtrl.note.id" ng-click="NoteEditCtrl.deleteNote()">Delete note</a>
			<a href="#" ng-click="NoteEditCtrl.saveNote()">Done</a>
		</div>
	</div>
</div>
